.dashboard-banner {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
  }
}

.bookings-container {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}

.new-ft-button {
  color: white;
  font-size: 2rem;
  margin: 0 10px;
}

.dashboard-title {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: $ft-yellow;
    text-align: center;
    margin: 0 10px;
  }
}
