.home-container {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-foodtruck {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px white;
  // border-radius: 5px;
  margin: 10px;
  width: 425px;

  > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-foodtruck .card-foodtruck-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-foodtruck-infos .card-foodtruck-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.link-to, .link-to:hover {
  text-decoration: none;
}

.search-bar {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 20;
}
