<div class="dashboard-title">
  <h2>Bookings made</h2>
</div>

<div class="bookings-container">
  <% @bookings_made.each do |booking| %>

    <div class="booking">

      <img src='<%= booking.user.avatar %>' class="avatar-large" />

      <div class="booking-content">
        <p><small><%= booking.user.username %></small></p>
        <p><strong><%= booking.foodtruck.name %></strong> - <%= booking.date %></p>
      </div>

    </div>

  <% end %>
</div>
