<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>

<div class="home-container">

  <div class="card-foodtruck">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-foodtruck-infos">
      <div>
        <h2>TODO: Name of the food truck</h2>
        <p>TODO: Add Category and capacity</p>
      </div>
      <h2 class="card-foodtruck-pricing">TODO:Price /per person</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-foodtruck-user avatar-bordered" />
    </div>
  </div>

  <div class="card-foodtruck">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-foodtruck-infos">
      <div>
        <h2>TODO: Name of the food truck</h2>
        <p>TODO: Add Category and capacity</p>
      </div>
      <h2 class="card-foodtruck-pricing">TODO:Price /per person</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-foodtruck-user avatar-bordered" />
    </div>
  </div>

  <div class="card-foodtruck">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-foodtruck-infos">
      <div>
        <h2>TODO: Name of the food truck</h2>
        <p>TODO: Add Category and capacity</p>
      </div>
      <h2 class="card-foodtruck-pricing">TODO:Price /per person</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-foodtruck-user avatar-bordered" />
    </div>
  </div>

  <div class="card-foodtruck">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-foodtruck-infos">
      <div>
        <h2>TODO: Name of the food truck</h2>
        <p>TODO: Add Category and capacity</p>
      </div>
      <h2 class="card-foodtruck-pricing">TODO:Price /per person</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-foodtruck-user avatar-bordered" />
    </div>
  </div>

</div>
