.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

#container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 30px;
  border: 1px solid #f1f1f1;
  color: white;

}

#container h2{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
  color: white;

}

.form-inputs{
  color: white;
}

#container-new{
  width: 800px;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 30px;
  border: 1px solid #f1f1f1;
  margin-bottom: 10%;
  color: white;
}

.sign-up-btn {

  border-color: black;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
padding: 5px, 5px;
margin: 2px;

}

.sign-up-btn:hover {
  background-color: #212227;

}

.btn-lg{
  width: 100px;
}


