.navbar-foodtruck {
  display: flex;
  justify-content: space-between;

  height: 80px;
  width: 100%;
  background-color: $ft-black;

  .navbar-logo {
    width: 60px;
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}

.text-ft-yellow {
  color: $ft-yellow;
}
