.navbar-foodtruck {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1000;

  height: 80px;
  width: 100%;
  background-color: $ft-black;

  .navbar-logo {
    height: 20px;
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}

.text-ft-yellow {
  color: $ft-yellow;
}

.transparent {
  background-color: transparent;
}
