// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $ft-black;
}

.bg-green {
  background-color: rgb(124, 229, 119);
  // background-color: rgb(123, 201, 80);
}

.bg-orange {
  background-color: #EECF6D;
}

.bg-red {
  background-color: #F87666;
}
